<script id="MainView" type="text/html">
	<div class="MainView">
	     <div class='PopupDialogGlass' />
		<nav class="navbar navbar-default" role="navigation">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/"><span class="brand-left">ECharts</span><span class="brand-right">DEMO</span></a>
			</div>
			
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse navbar-ex1-collapse">
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<span class="dx" data-dx="username"></span><!--b class="caret"></b-->
							<i class="ico ico-settings"></i>
						</a>
						<ul class="dropdown-menu">
							<li><a href="#" class="do-logoff">Logoff</a></li>
							<li><a href="#" class="do-click">click</a></li>
						</ul>
					</li>
				</ul>
			</div><!-- /.navbar-collapse -->

		</nav>

		<section class="MainView-content">
			<div>
				<div class="btn-group" role="group" aria-label="散点图">
					<button type="button" class="btn btn-default echarts-dot1">散点图1</button>
					<button type="button" class="btn btn-default echarts-dot2">散点图2</button>
					<button type="button" class="btn btn-default echarts-dot3">散点图3</button>
					<button type="button" class="btn btn-default echarts-dot4">散点图4</button>
					<button type="button" class="btn btn-default echarts-dot5" disabled="disabled">散点图5</button>
					<button type="button" class="btn btn-default echarts-dot6">散点图6</button>
					<button type="button" class="btn btn-default echarts-dot7" disabled="disabled">散点图7</button>
					<button type="button" class="btn btn-default echarts-dot8">散点图8</button>
					<button type="button" class="btn btn-default echarts-dot9">散点图9</button>
					<button type="button" class="btn btn-default echarts-dot10" disabled="disabled">散点图10</button>
					<button type="button" class="btn btn-default echarts-dot11">散点图11</button>
					<button type="button" class="btn btn-default echarts-dot12">散点图12</button>
				</div>
			</div>

			<div style="margin-top: 15px">
				<div class="btn-group" role="group" aria-label="折线图">
					<button type="button" class="btn btn-primary echarts-line1">折线图1</button>
					<button type="button" class="btn btn-primary echarts-line2">折线图2</button>
					<button type="button" class="btn btn-primary echarts-line3">折线图3</button>
					<button type="button" class="btn btn-primary echarts-line4" disabled="disabled">折线图4</button>
					<button type="button" class="btn btn-primary echarts-line5">折线图5</button>
					<button type="button" class="btn btn-primary echarts-line6">折线图6</button>
					<button type="button" class="btn btn-primary echarts-line7">折线图7</button>
					<button type="button" class="btn btn-primary echarts-line8">折线图8</button>
					<button type="button" class="btn btn-primary echarts-line9">折线图9</button>
					<button type="button" class="btn btn-primary echarts-line10">折线图10</button>
					<button type="button" class="btn btn-primary echarts-line11">折线图11</button>
					<button type="button" class="btn btn-primary echarts-line12">折线图12</button>
				</div>
			</div>

            <div style="margin-top: 15px">
				<div class="btn-group" role="group" aria-label="柱状图">
					<button type="button" class="btn btn-success echarts-bar1">柱状图1</button>
					<button type="button" class="btn btn-success echarts-bar2">柱状图2</button>
					<button type="button" class="btn btn-success echarts-bar3">柱状图3</button>
					<button type="button" class="btn btn-success echarts-bar4">柱状图4</button>
					<button type="button" class="btn btn-success echarts-bar5">柱状图5</button>
					<button type="button" class="btn btn-success echarts-bar6">柱状图6</button>
					<button type="button" class="btn btn-success echarts-bar7">柱状图7</button>
					<button type="button" class="btn btn-success echarts-bar8">柱状图8</button>
					<button type="button" class="btn btn-success echarts-bar9">柱状图9</button>
					<button type="button" class="btn btn-success echarts-bar10">柱状图10</button>
					<button type="button" class="btn btn-success echarts-bar11">柱状图11</button>
					<button type="button" class="btn btn-success echarts-bar12" disabled="disabled">柱状图12</button>
				</div>
			</div>

            <div style="margin-top: 15px">
				<div class="btn-group" role="group" aria-label="地图">
					<button type="button" class="btn btn-info echarts-geo1">地图1</button>
					<button type="button" class="btn btn-info echarts-geo2" disabled="disabled">地图2</button>
					<button type="button" class="btn btn-info echarts-geo3">地图3</button>
					<button type="button" class="btn btn-info echarts-geo4">地图4</button>
					<button type="button" class="btn btn-info echarts-geo5" disabled="disabled">地图5</button>
					<button type="button" class="btn btn-info echarts-geo6">地图6</button>
				</div>
			</div>

            <div style="margin-top: 15px">
				<div class="btn-group" role="group" aria-label="饼图">
					<button type="button" class="btn btn-warning echarts-pie1">饼图1</button>
					<button type="button" class="btn btn-warning echarts-pie2">饼图2</button>
					<button type="button" class="btn btn-warning echarts-pie3">饼图3</button>
					<button type="button" class="btn btn-warning echarts-pie4">饼图4</button>
					<button type="button" class="btn btn-warning echarts-pie5">饼图5</button>
				</div>
			</div>

            <div style="margin-top: 15px">
				<div class="btn-group" role="group" aria-label="K线图">
				    <button type="button" class="btn btn-danger echarts-candlestick1">K线图1</button>
				</div>
			</div>

            <div style="margin-top: 15px">
				<div class="btn-group" role="group" aria-label="箱线图">
				    <button type="button" class="btn btn-default echarts-boxplot1" disabled="disabled">箱线图1</button>
				    <button type="button" class="btn btn-default echarts-boxplot2" disabled="disabled">箱线图2</button>
				    <button type="button" class="btn btn-default echarts-boxplot3" disabled="disabled">箱线图3</button>
				</div>
			</div>

            <div style="margin-top: 15px">
				<div class="btn-group" role="group" aria-label="热力图">
				    <button type="button" class="btn btn-primary echarts-heatmap1">热力图1</button>
				    <button type="button" class="btn btn-primary echarts-heatmap2">热力图2</button>
				</div>
			</div>

            <div style="margin-top: 15px">
				<div class="btn-group" role="group" aria-label="关系图">
				    <button type="button" class="btn btn-success echarts-relation1" disabled="disabled">关系图1</button>
				    <button type="button" class="btn btn-success echarts-relation2" disabled="disabled">关系图2</button>
				    <button type="button" class="btn btn-success echarts-relation3">关系图3</button>
				    <button type="button" class="btn btn-success echarts-relation4" disabled="disabled">关系图4</button>
				    <button type="button" class="btn btn-success echarts-relation5" disabled="disabled">关系图5</button>
				</div>
			</div>

            <div style="margin-top: 15px">
				<div class="btn-group" role="group" aria-label="矩形树图">
				    <button type="button" class="btn btn-info echarts-treemap1" disabled="disabled">矩形树1</button>
				    <button type="button" class="btn btn-info echarts-treemap2" disabled="disabled">矩形树2</button>
				</div>
			</div>

            <div style="margin-top: 15px">
				<div class="btn-group" role="group" aria-label="平行坐标图">
				    <button type="button" class="btn btn-warning echarts-parallel1">平行坐标1</button>
				</div>
			</div>

            <div style="margin-top: 15px">
				<div class="btn-group" role="group" aria-label="桑基图">
				    <button type="button" class="btn btn-danger echarts-sankey1" disabled="disabled">桑基图1</button>
				    <button type="button" class="btn btn-danger echarts-sankey2" disabled="disabled">桑基图1</button>
				</div>
			</div>

            <div style="margin-top: 15px">
				<div class="btn-group" role="group" aria-label="漏斗图">
				    <button type="button" class="btn btn-default echarts-funnel1">漏斗图1</button>
				    <button type="button" class="btn btn-default echarts-funnel2">漏斗图2</button>
				    <button type="button" class="btn btn-default echarts-funnel3">漏斗图3</button>
				    <button type="button" class="btn btn-default echarts-funnel4">漏斗图4</button>
				</div>
			</div>

            <div style="margin-top: 15px">
				<div class="btn-group" role="group" aria-label="仪表盘图">
				    <button type="button" class="btn btn-info echarts-gauge1">仪表盘1</button>
				    <button type="button" class="btn btn-info echarts-gauge2">仪表盘2</button>
				</div>
			</div>
		</section>
	</div>
</script>